@color-text: #5e696d;
@background-header-hover: linear-gradient(to bottom, #e8e8e8, #ffffff);

.Text {
	text-decoration: none;
	color: @color-text;
	padding: 10px;
	
	&-Brand {
		font-size: 20px;
		font-weight: bold;
	}
}