@color-text: #5e696d;
@background-header-hover: linear-gradient(to bottom, #e8e8e8, #ffffff);

.Text {
	text-decoration: none;
	color: @color-text;	
	font-size: 13px;
	font-family: Helvetica;
	margin: 0;
	padding: 10px;

	&-Brand {
		padding: 10px;
		font-size: 17px;
		font-weight: bold;
	}

	&-Link:hover {
		border-left: 1px solid @border-color-header;
		border-right: 1px solid @border-color-header;
		box-sizing: border-box;
		background-image: @background-header-hover;
		padding: 14px 9px 14px 9px;
		box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
	}

	&-IconTitle {
		font-size: 20px;
		color: black;
	}
}

&-IconContent {
	font-size: 12px;
	line-height: 17px;
}

.Text-SampleHeading {
	font-size: 35px;
	font-family: Helvetica;
	font-weight: normal;
	padding-left: 8px;
	margin: 0;
	
	&-Content {
		font-size: 18px;
		width: 60%;
		text-align: center;
	}
}
