@background-SampleHeading: #f4f4f4;

.SampleHeading {
	margin-top: 30px;
	width: 960px;
	background-color: @background-SampleHeading;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}